$dark: #000;
$white: #fff;
$border-white: #eeeeee;

$box-shadow-w: rgba(0, 0, 0, 0.12);
$box-shadow-h: rgba(0, 0, 0, 0.24);
$box-shadow-hover: rgba(0, 0, 0, 0.2);

// color palette
$color-green: rgb(0, 126, 57);

$color-blue: rgb(49, 47, 187);

$color-red: rgb(211, 4, 4);

$color-danger: rgb(129, 0, 0);

$color-warn: rgb(194, 111, 2);
